.DS_Store
.idea/
.vscode/
.worktrees/
.gitignore
OpsVault
bin/*
.agent
*ansible.yaml
configs/ansible.*.yaml
configs/default.yaml
!configs/ansible.example.yaml
ansible_tmp/
opsvault_data/ansible/tmp
opsvault_data/logs
